/* the font family name work sance */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* sheard style all over the page */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
    border: 0px;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-title {
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* Banner style  */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}


.banner-title {
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}

.banner-dis {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}

header img {
    width: 100%;
    margin-top: 20px;
}
/* team section */
.team {
    margin-top: 40px;
    /* margin: 85px 300px; */
    padding: 50px 300px;
    display: flex;
    align-items: center;
}

.team-picture {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.team-container {
    padding-right: 70px;
    padding-left: 70px;

}
.team-container h1{
    width: 468px;
}

.quick-list {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.our {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.feature {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}
.team-container p{
    color: #727272;

font-size: 16px;

font-weight: 400;
}
/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }
    .team{
        align-items: center;
        flex-direction: column-reverse;
        padding: 5px 5px;
    }
    .team-container{
        align-items: center;
        /* height: auto; */
    }
    .team-picture{
        padding: 0px;
        grid-template-columns: 1fr;
    }
    .team-container h1{
        min-width: 200px;
    }
    

}

/* tablet or medium devices */
@media screen and (min-width: 573px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }
}
